body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	touch-action: manipulation;
	width: 420px;
	height: 1000px;
	overflow-x: hidden;
}


.item {
	text-align: center;
	width: 418px;
	height: 700px;
	background: rgb(239 239 239);
}

.btn {
	display: inline-block;
	border: none;
    background-image: url(./photo/btn1.png);
    width: 300px;
    height: 300px;
    border-radius: 100px;
	margin-top: 100px;
}

input {
    text-align: center;
    font-size: 16px;
	margin-top: 100px;
}

.usercard {
	text-align: center;
}

.barmenu {
	position: fixed;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 45px;
	width: 416px;
    background: rgb(239 239 239);
}

.btn-menu {
	font-size: 16px;
	margin: 5px;
}

.chill {
	margin-top: 30px;
	height: 100px;
}

.block {
	display: flex;
    flex-wrap: wrap;
	border:1px solid black;
	border-radius: 10px;
	margin-top: 10px;
}

.icon {
	margin: 5px;
	height: 30px;
	border: none;
	border-radius: 100px;
}

.nicname {
	margin: 9px;
}

.btn-friend {
	background-image: url(./photo/add_friend.jpg);
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.friend {
	margin-top: 10px;
	margin-left: 10px;
}